<h3><%= restaurant.get("name") %>
<a href="#/" id="mapclick">(<i class="fa fa-map-marker"></i> Find it!)</a>
</h3>
<div id="map-show"></div>
<div id = "restaurant-rating"></div>
<div id = "restaurant-menu"></div>
	<h3>MENU</h3>
	<% restaurant._photos.each(function (photo) { %>
	  <div class="restaurant-menu-item">
		  <div class="col-sm-6 col-md-4" id="image-wrapper">
		    <a href="#/photos/<%= photo.id %>" class="thumbnail">
		     <img src="<%= photo.get("filepicker_url") %>">
		    </a>
		  </div>
		  <div class="restaurant-blurb">
			  <span style="font-size: 20px"><strong><%= photo.get("name") %></strong></span>
			  <br>
			  <span>"<%= photo.get("review") %>"</span>
		  </div>
	  </div>
	<% }) %>
</div>