<h4>Posted By:
<a href="#/users/<%= photo.get("user_id") %>">
	<%= user.get("username") %>
</a>
</h4>
<a href="#/restaurants/<%= photo.get("restaurant_id") %>">
	<%= photo.get("place") %>
</a>
<img src="<%= photo.get("filepicker_url") %>">
<div id="photo-detail">
<p><%= photo.get("review") %></p>
</div>
	