<!DOCTYPE html>
<html>
<head>
  <title>Galbissam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <% if flash[:errors] %>
	<%= flash.now[:errors] %>
 <% end %>
<% if current_user %>
	<%= button_to "Sign Out", session_url, method: :delete  %>
<% end %>

<%= yield %>

</body>
</html>
