<!DOCTYPE html>
<html>
<head>
  <title>Galbissam</title>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
 <% if flash[:errors] %>
	<%= flash.now[:errors] %>
 <% end %>
<% if current_user %>
  <ul class="nav nav-tabs">
    <li role ="presentation">
      <%= link_to "Explore", "/#", method: :get %>
    </li>
    <li role ="presentation">
      <%= link_to "Share your story", "/#/photos/new", method: :get %>
    </li>
    <li role ="presentation">
      <%= link_to "Sign Out", session_url, method: :delete  %>
    </li>
  </ul>
<% end %>

<%= yield %>
<script>
    filepicker.setKey("ArHbWiYHDSLypuJ2P7Nr7z")
    // filepicker.setKey("<%= ENV['filepicker_api_key'] %>")
  </script>
</body>
</html>
